*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ccc;
}

.items{
    max-width: 50%;
    margin: 5px auto;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    box-shadow: 
    0 0 10px #0002,
    0 20px 40px -20px #0004;
}
.item img{
    border-radius: 15px;
    margin: 2px;
    filter: grayscale(1);
}
.item img:hover{
    border-radius: 5px;
    filter: grayscale(0);
    transform: scale(1.2);
    box-shadow: 2px 2px #fff;
    transition: all 0.3s ease;

}
.item:hover{
    z-index: 4;
    
}