*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
a{
    color: #fff;
    text-decoration: none;
}

#navbar{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}

#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a{
    padding: 0.5rem;
}
#navbar ul li a:hover{
    background-color: gray;
    border-radius: 6px;
}
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    text-align: center;
}
#home a{
    display: inline-block;
    font-size: 2rem;
    padding: 0 1rem;
    color: gainsboro;
}
#home a:hover{
    font-size: 3rem;
    color: gray;
}
#home img{
    max-width: 30%;
    height: auto;
    margin-bottom: 1.5rem;
    border-radius: 150px;
}
#home h2{
    color: aliceblue;
    margin-bottom: 0.75rem;
}
#home p{
    color: aliceblue;
    font-style: italic;
    font-weight: bold;
    font-size: large;
}

#info{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: aliceblue;
    padding: 0.5rem;
}
#info .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#info .items .item{
    width: 33%;
    text-align: center;
    padding: 0.5rem;
    
}
#info .items .item i{
    color: gold;
}
#info .items .item i:hover{
    color: yellowgreen;
    font-size: 2rem;
}
#info .items .item h3{
    color: grey;
}

#projects{
    padding: 2rem;
    color: aliceblue;
}

.projects{
    
    display: flex;
    flex-direction: column;
    padding: 1rem;

}

.projects .project{
    display: flex;
    pad: 0.5rem;
    margin-bottom: 0.5rem;
}
.projects .project .project-image{
    margin:  1.5rem;
    position: relative;
}
.projects .project .project-image img{
    border-radius: 5px;
}

.projects .project .project-image span{
    background-color: red;
    padding: 0.25rem;
    border-radius: 3px;
    color:white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.projects .project .project-info .title{
    letter-spacing: 1.2px;
    font-weight: 700;
    margin-bottom: 0.25rem;
    color:aliceblue;

}
.projects .project .project-info .description{
    letter-spacing: 1.2px;
    color:aliceblue;
    opacity: 0.6;
    margin-bottom: 0.25rem;
    text-align: justify;
}