#info{
    display: flex;
    flex-direction: row;
    text-align: center;
    color: aliceblue;
    padding: 0.5rem;
}
#info .items{
    flex-direction: column;
}
#info .items .item{
    width: 90%;
    text-align: center;
    padding: 0.5rem;
    
}
.projects{
    
    flex-direction: column;
    padding: 1rem;
    text-align: center;

}


#projects{
    text-align: center;
}
.projects .project{
    flex-direction: column;
}

.projects .project .project-image{
    margin:  1.5rem;
    position: relative;
}
.projects .project .project-image img{
    border-radius: 10px;
}

.projects .project .project-image span{
    background-color: red;
    padding: 0.25rem;
    border-radius: 3px;
    color:white;
    position: absolute;
    top: 5px;
    left: 45%;
}